<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <title>Waterpolo</title>
</head>
<body>
<h1>Waterpolo</h1>
<form th:action="@{/landingPage}">
    <button type="submit" name="action" value="submitt">Back</button>
</form>
<form id="lookup-form"
      th:action="@{/add}"
      th:object="${newTeam}" class="form" method="post">
    <label for="teamName">team name: </label>
    <input type="text" id="teamName" name="teamName"/>
    <br>
    <label for="teamLocation">team location: </label>
    <input type="text" id="teamLocation" name="teamLocation">
    <br>
    <label for="teamRank">team rank: </label>
    <input type="text" id="teamRank" name="teamRank">
    <br>
    <label for="teamPoints">team points: </label>
    <input type="text" id="teamPoints" name="teamPoints">
    <br>
    <label for="teamCaptain">team captain: </label>
    <input type="text" id="teamCaptain" name="teamCaptain">
    <br>
    <label for="teamSquad[0].name">player name: </label>
    <input type="text" id="teamSquad[0].name" name="teamSquad[0].name">
    <br>
    <label for="teamSquad[0].age">player age: </label>
    <input type="text" id="teamSquad[0].age" name="teamSquad[0].age">
    <br>
    <label for="teamSquad[0].position">player position: </label>
    <input type="text" id="teamSquad[0].position" name="teamSquad[0].position">
    <br>
    <label for="teamSquad[1].name">player name: </label>
    <input type="text" id="teamSquad[1].name" name="teamSquad[1].name">
    <br>
    <label for="teamSquad[1].age">player age: </label>
    <input type="text" id="teamSquad[1].age" name="teamSquad[1].age">
    <br>
    <label for="teamSquad[1].position">player position: </label>
    <input type="text" id="teamSquad[1].position" name="teamSquad[1].position">
    <br>
    <button type="submit" name="action" value="submit">Add</button>
</form>
</body>
</html>