<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <title>Waterpolo</title>
</head>
<body>
<h1>Waterpolo</h1>
<form th:action="@{/landingPage}">
    <button type="submit" name="action" value="submitt">Back</button>
</form>
<tr th:each="team : ${teams}">
    <h2>
        <td th:text="${team.teamName}"/>
        <td th:text="${team.teamLocation}"/>
        <td th:text="${team.teamRank}"/>
        <td th:text="${team.teamPoints}"/>
        <td th:text="${team.teamCaptain}"/><br>
    </h2>
    <p th:each="player: ${team.teamSquad}">
    <td th:text="${player.name}"/>
    <td th:text="${player.age}"/>
    <td th:text="${player.position}"/><br>
    </p>
</tr>
</body>
</html>